<%- include("./partials/header") %>

    <div class="container" style="height: 88vh; display: flex; justify-content: center; align-items: center;">
        <h1>SORRY SOMETHING WENT WRONG....</h1>
        <h2><%= errors %></h2>
    </div>

<%- include("./partials/footer") %>