<%- include("./partials/header") %>
    <%- include("./partials/navbar", isLogin, user) %>

<div class="container" style="height: 88vh; display: flex; justify-content: center; align-items: center;">
    <h1>ini adalah pair project</h1>
</div>

<%- include("./partials/footer") %>