<%- include("../partials/header") %>
    <%- include("../partials/navbar", isLogin = false) %>

<div class="container" style="display: flex; height: 70vh; justify-content: center; align-items: center;" >
    
    <form action="/login" method="POST" style="background-color: aquamarine; width: 30rem; padding: 30px; height: 20rem; border-radius: 10px;">
      <% if(errors) { %> <%- include("../partials/errors", { errors }) %> <% } %>
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="username" aria-describedby="emailHelp" name="username">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password">
        </div>
        <div style="display: flex; justify-content: flex-end;">
          <a href="/reset-password" style="text-decoration: none;">forgot password?</a>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <a href="/register"><button type="button" class="btn btn-primary">Register</button></a>
      </form>
</div>

<%- include("../partials/footer") %>