<%- include("../partials/header") %>
    <%- include("../partials/navbar", isLogin = false) %>

        <div class="container" style="background-color: aquamarine; width: 50%; padding: 50px; height: 50%; border-radius: 10px;">
            <form action="/register" method="POST">
              <% if(errors) { %> <%- include("../partials/errors", { errors }) %> <% } %>
                <div class="mb-3">
                  <label for="username" class="form-label">username</label>
                  <input type="text" class="form-control" id="username" aria-describedby="emailHelp" name="username">
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input type="password" class="form-control" id="password" name="password">
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" class="form-control" id="email" name="email">
                </div>
                <div class="mb-3">
                  <label for="birth_date" class="form-label">Birth Date</label>
                  <input type="date" class="form-control" id="birth_date" name="birth_date">
                </div>
                <div class="mb-3">
                  <label for="questionId" class="form-label">Question</label>
                  <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="questionId" name="questionId">
                    <option selected value="1">apa warna favorit kamu?</option>
                    <option value="2">siapa nama guru sd kamu?</option>
                    <option value="3">apa nama hewan peliharaan kamu?</option>
                    <option value="4">kapan nikah?</option>
                    <option value="5">siapa penyemangat kamu?</option>
                    <option value="6">siapa mantan kamu?</option>
                  </select>
                </div>
                <div class="mb-3">
                  <label for="hint" class="form-label">Hint</label>
                  <input type="text" class="form-control" id="hint" name="hint">
                </div>
                <div class="mb-3">
                  <label for="roleId" class="form-label">Role</label>
                  <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="roleId" name="roleId">
                    <option selected value="3">User</option>
                    <option value="2">Staff</option>
                    <option value="1">Master</option>
                  </select>
                </div>
                <div style="display: flex; justify-content: flex-end;">
                  <a href="/login" style="text-decoration: none;">have an account?</a>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
                <a href="/"><button type="button" class="btn btn-primary">Cancel</button></a>
              </form>
        </div>

<%- include("../partials/footer") %>